@import '/src/donations/components/components.scss';

.DonateButton {
  @include DonationsButton();
}

.DonateButton__Loader {
  position: absolute;
  margin-top: -30px;
}

.DonateButton__Loader--once {
  margin-left: 55px;
}

.DonateButton__Loader--monthly {
  margin-left: 115px;
}
