@import '/src/donations/scss/modifiers.scss';
@import '/src/donations/scss/boxes.scss';

.OtherAmountButton {
  @include BigField();
  @apply border-blue-200;

  input {
    @apply h-full;
    @apply bg-transparent;
    width: 11.25rem;
  }
}

.OtherAmountButton--notSelected:hover {
  @apply bg-white;
}

.OtherAmount__currencySymbol {
}

.OtherAmount__currencyCode {
  @apply text-xs;
}

#otherAmountButton:focus {
  outline: 1px dashed transparent;
}

.OtherAmountButton--selected {
  @include __selected();
}

.OtherAmountButton--notSelected {
  width: 16.5rem;
}
